
{% extends 'BaseAfterLogin.html' %}
{%block title%}
Filter Page
{%endblock%}
{%block head%}
<link rel="stylesheet" href="../static/css/style_filter.css" />
{%endblock%}

{% block profile %} <a href="/user_details">{{ username }}</a> {% endblock %}

{% block logout %}<a href="/logout"> LOG OUT </a>{% endblock %}

{%block content%}

<div class="filter-container">
    <form id="filter-form" method="post">
      <div class="first items">
        <label for="stock-select">Select Stock:</label>
        <select id="stock-select" name="stock-select" value="{{ request.form['stock-select'] }}">
          {% for option in ['OPEN', 'HIGH', 'LOW', 'CLOSE', 'PREVCLOSE', 'TOTALTRADES'] %}
            <option value="{{ option }}" {% if option == request.form['stock-select'] %}selected{% endif %}>{{ option }}</option>
          {% endfor %}

          <!-- <option value="LOW">Stock 3</option> -->
        </select>
      </div>
      
        <div class="third items">
        <div class="third-left" style="width: 50%;">
            <label for="start">Start</label>
            <input type="text" id="start" name="start" value="{{ request.form['start'] }}"/>
        </div>
        <div class="third-right" style="width: 50%;">
            <label for="end">End</label>
            <input type="text" id="end" name="end" value="{{ request.form['end'] }}"/>
        </div>
      </div>
      <div class="second items">
        <div class="second-left" style="width: 50%;">
            <!-- <label for="from-date">From Date:</label> -->
            <!-- <input type="date" id="from-date" name="from-date" /> -->
        </div>
        <div class="second-right" style="width: 50%;">
            <!-- <label for="to-date">To Date:</label> -->
            <!-- <input type="date" id="to-date" name="to-date" /> -->
        </div>
        
        </div>
      <div class="fourth items">
        <button type="submit" name="sort" value="sort-a"> Sort Ascending</button>
        <button type="submit" name="sort" value="sort-d"> Sort Descending</button>
        <button type="button" name="reset" id="reset">Reset</button>
      </div>
    </form>
</div>
<br>
<br><br>
<table class="table table-hover table-dark stock-table">
  <thead>
      <tr>
          <!-- columns_to_keep = ['SYMBOL', 'OPEN', 'HIGH','LOW','CLOSE','SERIES'] -->
          <!-- Your Columns HERE -->
          <th  scope="col">Name</th>
          <th  scope="col">Open</th>
          <th  scope="col">High</th>
          <th  scope="col">Low</th>
          <th  scope="col">Close</th>
          <th  scope="col">Previous Close</th>
          <th  scope="col">Number of Trades</th>
          <th  scope="col">Series</th>
          <th  scope="col">Options</th>
      </tr>
  </thead>
  <tbody >
      <!-- Your rows inside the table HERE: -->
      {% for item in filtered_df %}
        <tr>
          <td >{{ item.SYMBOL }}</td>
          <td >{{ item.OPEN }}</td>
          <td >{{ item.HIGH }}</td>
          <td >{{ item.LOW }}</td>
          <td >{{ item.CLOSE }}</td>
          <td >{{ item.PREVCLOSE }}</td>
          <td >{{ item.TOTALTRADES }}</td>
          <td >{{ item.SERIES }}$</td>
          <td >
            <button class="btn btn-outline btn-info" onclick="window.location.href='https://www.nseindia.com/get-quotes/equity?symbol={{ item.SYMBOL }}'">More Info</button>
            <!-- <button class="btn btn-outline btn-info">More Info</button> -->
            <!-- <button class="btn btn-outline btn-success">Purchase this Item</button> -->
            <button class="btn btn-outline btn-success" onclick="window.location.href='/login'">Purchase this Item</button>
          </td>
      </tr>
{% endfor %}          
  </tbody>
</table>
<script>
  document.getElementById("reset").addEventListener("click", function() {
        // Manually clear form fields using JavaScript
        document.getElementById("stock-select").selectedIndex = 0; // Reset dropdown
        document.getElementById("start").value = ""; // Reset start input
        document.getElementById("end").value = ""; // Reset end input
    });
</script>
  
{%endblock%}
