* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-color: #000000;
}

h1 {
    font-size: xx-large;
}

.container {
    display: flex;
    position: absolute;
    left: 10%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 80%;
    height: 60%;
    margin-top: 10%; 
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #CAD5CA;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #5757ff;
}

.welcome-text {
    font-size: 4rem;
    color: #127475;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.welcome-text span {
    color: #ED1C24;
}

.quote {
    font-size: 1.2rem;
    color: #6F7C12;
    margin-bottom: 1rem;
}

.get-started-btn {
    background-color: #5757ff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.get-started-btn:hover {
    background-color: #4242d4;
}
